@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
  background-color: lightgrey;
  margin: 0px 20px;
}

div.black {
  background-color: #000;
  margin-top: 5px;
}

p.text-header {
  color: #fff;
  font-size: medium;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 18px;
  text-align: center;
}

.p-container {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0;
}

input.title {
  padding: 5px 0px;
  margin-bottom: 20px;
  width: 65%;
  xwidth: 85%;
}

button.add {
  background-color: lightgrey;
  border: none;
  color: grey;
  padding: 6px 40px;
  margin: none;
}

input.check {
  margin-right: 10px;
}

/* Hide the browser's default checkbox */
.escriureingredient input {
  xposition: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.escriureingredient:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.escriureingredient input:checked~.checkmark {
  xbackground-color: #2196F3;
  background-color: white
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  color: #000;
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.escriureingredient input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.escriureingredient .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.task {
  background-color: white;
  margin: 0px;
  padding: 10px 10px;
}

/* fa el + i el - del lateral */
div.task:after, div.task2:after {
  content: "\00D7";
  color: transparent;
  color: #000;
  font-weight: 600;
  font-family: 'Fredoka One', cursive;
  font-family: Helvetica, sans-serif;
  float: right;
  padding: 2px 3px 0px 0px;
}

/* fa el + i el - del lateral */
div.task2:after {
  color: #fff;
}

.task.active:after {
  content: '\2212';
}

div.task2 {
  background-color: rgb(35, 118, 129);
  color: #fff;
  margin: 0px;
  padding: 10px;
  text-decoration: line-through;
}

.button-container {
  text-align: center;
}

button.remove {
  align-items: center;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 30px auto;
  padding: 3px 12px;
}